<div class="navbar">
  <!-- ABOUT US -->
  <mat-toolbar color="primary">

    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    

    <!-- <span flex></span> -->
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/whatis">ABOUT US</button>
        <button mat-button routerLink="/how-it-works">HOW IT WORKS?</button>
        <!-- <button mat-button routerLink="/dashboard">FAQ</button> -->
        <button mat-button routerLink="/contact-us">CONTACT</button>
        <!-- <button mat-button routerLink="/add-client">Add Client</button>
        <button mat-button routerLink="/loan-payment">Payments</button>
        <button mat-button routerLink="/client-list">Collector</button> -->
      </div>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>

    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon> 
          {{title}}</button>
          
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/whatis">ABOUT US</button>
    <button mat-menu-item routerLink="/how-it-works">HOW IT WORKS?</button>
    <!-- <button mat-menu-item>Our Products</button> -->
    <!-- <button mat-menu-item routerLink="/add-client">Add Client</button> -->
    <!-- <button mat-button routerLink="/loan-payment">Payments</button> -->
    <!-- <button mat-button routerLink="/client-list">Collector</button> -->
    <button mat-button routerLink="/contact-us">CONTACT</button>
  </mat-menu>
  
</div>