<div class="container" fxLayout="column">
  <div flFlex>
    <div fxLayout="row">

      <mat-dialog-content>

      <div fxLayout="column">

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="client number" [value]="client.clientNumber" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="client name" [value]="clientName" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="date" [(ngModel)]="todayDate" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="principal amount" [(ngModel)]="loan.principalAmount" readonly="true">
          </mat-form-field>
        </div>
  
        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="balance" [(ngModel)]="loan.balanceAmount" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="last payment date" [(ngModel)]="lastPaymentDate" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="interest %" [(ngModel)]="payment.interestRate" class="input-editable">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="interest amount" [value]="interestAmount()" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="salary" [(ngModel)]="payment.cashWithdrawal" class="input-editable">
          </mat-form-field>
        </div>

        <!-- <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="less interest" [value]="lessInterestAmount()">
          </mat-form-field>
        </div> -->

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="principal" [(ngModel)]="payment.paymentAmount" class="input-editable">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="other item" [(ngModel)]="payment.miscellaneousItem" class="input-editable">
          </mat-form-field>
        </div>
          
        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="other amount" [(ngModel)]="payment.miscellaneousAmount" class="input-editable">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="collection" [value]="collection()" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
        <mat-icon>person</mat-icon>
        <mat-form-field>
          <input matInput placeholder="cash out" [value]="cashOut()" readonly="true">
        </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="new balance" [value]="newBalance()" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <input matInput placeholder="loan id" [(ngModel)]="loan.loanId" readonly="true">
          </mat-form-field>
        </div>

        <div fxFlex>
          <!-- <mat-icon>person</mat-icon>
          <mat-form-field> -->
            <button mat-raised-button color="primary" (click)="save()">Save</button>
            <button mat-raised-button [mat-dialog-close]>Close</button>
          <!-- </mat-form-field> -->
        </div>

      </div>

      </mat-dialog-content>


    </div>
  </div>
</div>