.apply-now-button {
  font-family: "Lato";
  font-weight: 200;
  font-size: 12pt;
  background-color: #4a2da3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  // height: 30px;
  text-align: center;
  // color: #ffffff;
  border-radius: 50px;
  width: 200px;
  button {
    // width: 100%;
    // color: #4a2da3;
    color: #ffffff;
    background-color:  #4a2da3;
  }
}

.how-it-works {
  background-color: #fafafa;
  justify-content: center;
  align-items: center; 
  min-height: 80vh; 
  height: 80vh; 
  width: 100%; 
  height: 100%;
  display: flex; 
  flex-wrap: wrap;
  font-family: "Lato";

  div {
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    // background-color: #FF4499;
    // grid-gap: 20px;

    mat-card { 
      max-width: 25vh;
      height: 25vh;
      // margin: 10px 10px 10px 10px;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      box-shadow: none;
      background-color: transparent;
      
      mat-card-content {

        // style="max-width: 25vh; min-height: 19vh; height: 25vh; margin: 10px 10px 10px 10px;"

        div {

          // width: 100px;
          // height: 100px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          // height: 100vh;
          // background-color: #FF4499;
          // border-radius: 50%;

          div {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #f1f1f1;
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: center;
            font-family: 'Lato';
            // font-weight: 900;
            // font-size: 46pt;
            color: #525252;
  
            mat-icon {
              font-size: 60px;
              // width: 100px;
              // height: 60px;
              margin-bottom: 10px;
              color: #ffffff;
              // color: "accent";
              // margin-top: 20px;
              margin-right: 30px;
              margin-bottom: 30px;
            }
  
          }

          div span {
            font: 36pt;
          }



          h2 {
            padding-top: 10px;
            font-family: "Lato";
            color: #545454;
            font-weight: 100;
            font-size: 14pt;
          }
        }

      }
    }
    
    div {
      margin-top: 00px;
    }
  }

  h1 {
    font-family: "Lato";
    font-weight: 200;
    font-size: 36pt;
    color: #525252;
  }
}

.hiw-label-1 {
  font-size: 20pt;
  font-family: 'Lato';
  font-weight: 200;

}

.hiw-label-2 {
  font-size: 46pt;
  font-family: 'Lato';
  font-weight: 800;

}


.how-it-works-2 {
  background-color:#FAFAFA;
  justify-content: center;
  align-items: center; 
  min-height: 50vh; 
  height: 80vh; 
  width: 100%; 
  height: 100%;
  display: flex; 
  flex-wrap: wrap;
  margin-top: 100px;
  // font-family: 'Lato';

  h1 {
    font-family: 'Lato';
    font-size: 36pt;
    font-weight: 200;

  }

  div {
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;

    mat-card { 
      max-width: 25vh;
      height: 25vh;
      // margin: 10px 10px 10px 10px;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      // box-shadow: none;
      
      mat-card-content {

        // style="max-width: 25vh; min-height: 19vh; height: 25vh; margin: 10px 10px 10px 10px;"

        div {
      
          mat-icon {
            font-size: 80px;
            width: 100px;
            height: 60px;
            margin-bottom: 10px;
            color: #5E5E5E;
          }

          h2 {
            font-family: Quicksand;
            color: #545454;
            font-weight: 400;
            font-size: 14pt;
          }
        }

      }
    }

    div {
      margin-top: 30px;
    }

  }

  // h1 {
  //   font-family: Quicksand;
  // }
}
