<!-- <div style="display: flex" *ngFor="let client of clients">
  <div style="flex: 1">{{client.clientNumber}}</div>
  <div style="flex: 1">{{client.firstName}}</div>
  <div style="flex: 1">{{client.middleName}}</div>
  <div style="flex: 1">{{client.lastName}}</div>
  <div style="flex: 1"><client-list-child [clientNumber]="client.clientNumber"></client-list-child></div>
</div> -->

<!-- <div class="">
  <mat-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="clientNumber">
      <mat-header-cell>Client Number</mat-header-cell>
      <mat-cell>{{ client.clientNumber }}</mat-cell>
    </ng-container>
  </mat-table>
</div> -->

<!-- <div>
  <button mat-raised-button color="accent" routerLink="/add-client">Add Client</button>
</div>
<div style="display: flex; flex-wrap: wrap;" class="container" >
  <div style="display: flex">
    <mat-form-field>
      <input matInput placeholder="seach" #txtClientFirstName style="flex: 1" [(ngModel)]="searchTerm" (ngModelChange)="search()">
    </mat-form-field>
  </div>

    <mat-card style="flex: 1; max-width: 30rem; border-radius: 0px;" *ngFor="let client of clients">
      <mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="50">
              <img (click)="details(client._id)" style="height: 50px; border-radius: 50%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Icons8_flat_businessman.svg/1024px-Icons8_flat_businessman.svg.png">
            </div>
            <div fxFlex="50" fxLayoutAlign="end">{{ client.clientNumber }}</div>
          </div>
      </mat-card-title>

      <mat-card-content>

        <div fxLayout="column">

          <div fxLayout="row">
            <span class="mat-span-title">{{ client.lastName }}</span>
          </div>
          <div fxLayout="row">
              <span>{{ client.firstName }} - {{ client.middleName }}</span>
          </div>
  
          <div fxLayout="row">
            <div fxFlex="50">
              <client-list-child [clientNumber]="client.clientNumber" (load)="client.loans = $event"></client-list-child>
              Current Loans: {{ client.loans }}
            </div>
            <div fxFlex="50" fxLayoutAlign="end">
                <mat-icon matSuffix (click)="showLoans(client)">receipt</mat-icon>
            </div> 
          </div>

        </div>
    
      </mat-card-content>

    </mat-card>  
</div> -->
<h3>Client List</h3>
<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="clientNumber">
    <mat-header-cell *matHeaderCellDef>Client Number</mat-header-cell>
    <mat-cell *matCellDef="let client" (click)="details(client._id)">{{ client.clientNumber }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Lastname</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef>Firstname</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.firstName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="middleName">
    <mat-header-cell *matHeaderCellDef>Middlename</mat-header-cell>
    <mat-cell *matCellDef="let client">{{ client.middleName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="loans">
    <mat-header-cell *matHeaderCellDef>Loans</mat-header-cell>
    <mat-cell *matCellDef="let client" (click)="showLoans(client)">
      <client-list-child [clientNumber]="client.clientNumber" (load)="client.loans = $event"></client-list-child>
      {{ client.loans }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>