<div style="display: flex; flex-wrap: wrap" fxLayout="column" fxLayoutAlign="start center">
  <div class="about-us" fxLayout="column">
    <h1>Our Story</h1>
    <p>LendUp is the first online lending company in Central Luzon pursuing our goal to help Filipinos have access
      to funds to support pressing needs.  Since LendUp services are all accessible  online, processing and approval of loan
      applications is carried out on the fly.  If all documentation checks out, funds releases can happen up to 78 hours
      or less.
    </p>
  </div>

  <p class="apply-now-button"><button mat-flat-button (click)="showHome()">APPLY NOW</button></p>

</div>
<footer></footer>