<div class="footer">
<!-- <div style="background-color:#545454; justify-content: center; align-items: center; min-height: 30vh; width: 100%; display: flex; flex-wrap: wrap;"> -->
    
  <div>
    <mat-card>
      <mat-card-headers>
        <mat-card-subtitle>ABOUT US</mat-card-subtitle>
      </mat-card-headers>
      <mat-card-content>
        <p>Home</p>
        <p>Our Story</p>
        <p>Branches</p>
      </mat-card-content>
    </mat-card>

    <mat-card style="max-width: 25vh; margin: 10px 10px 10px 10px;">
      <mat-card-headers>
        <mat-card-subtitle>PRODUCTS</mat-card-subtitle>
      </mat-card-headers>
      <mat-card-content>
        <p>Personal Loan</p>
        <p>Business Loan</p>
        <p>Salary Loan</p>
      </mat-card-content>
    </mat-card>

    <mat-card style="max-width: 25vh; margin: 10px 10px 10px 10px;">
      <mat-card-headers>
        <mat-card-subtitle>TOOLS</mat-card-subtitle>
      </mat-card-headers>
      <mat-card-content>
        <p>Loan</p>
        <p>Calculator</p>
        <p>Personal Loan</p>
        <p>Business Loan</p>
      </mat-card-content>
    </mat-card>

    <mat-card style="max-width: 25vh; margin: 10px 10px 10px 10px;">
      <mat-card-headers>
        <mat-card-subtitle>GUIDES</mat-card-subtitle>
      </mat-card-headers>
      <mat-card-content>
        <p>Personal Loan</p>
        <p>Business Loan</p>
        <p>Salary Loan</p>
      </mat-card-content>
    </mat-card>

    <mat-card style="max-width: 25vh; margin: 10px 10px 10px 10px;">
      <mat-card-headers>
        <mat-card-subtitle>CONNECT WITH US</mat-card-subtitle>
      </mat-card-headers>
      <mat-card-content>
        <mat-icon>facebook</mat-icon>
        <mat-icon>instagram</mat-icon>
      </mat-card-content>
    </mat-card>


  </div>

</div>
